.spyproject/codestyle.ini
*.ini
.spyproject/workspace.ini
*.pyc
peturTest.py
*.ini
.spyproject/workspace.ini
the rent - hesham.ipynb
.spyproject/workspace.ini
*.ini

*.ini
/authkey.keys
/keys.py
/._keys.py
/._authkey.keys
/__pycache__/authkey.cpython-36.pyc
data/apple_health_export
/._*
__pycache__/keys.cpython-36.pyc
.spyproject/vcs.ini
.spyproject/codestyle.ini
.spyproject/encoding.ini
.spyproject/workspace.ini
